<!--The practice can link their own news pages in this area. news.html is 
accessed through an iframe on the queue page-->

<doctype html>
    {% load static %}
        
    <html>
        <head>
            <title>Homepage</title>
            <link href="{% static '/caller/main.css' %}" rel="stylesheet" type="text/css" />
    
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
        </head>
    
    
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-12">
                    <div class="headingtext">
                        Please choose a language:
                    </div>
                    
                    <div id="google_translate_element"></div>
    
                    <script type="text/javascript">
                    function googleTranslateElementInit() {
                          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                    }
                    </script>
    
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
                </div>
                <div class="col"></div>
            </div>				
        </div>
        
    
        <body>
            <header>
                
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-12">
                            <div class="headingtext">
                                NEWS
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>				
                </div>

               
                  <div class="row">
                    <div class="leftcolumn">
                      <div class="card">
                        <h2>BOOK COVID-19 JABS</h2>
                        <h5>Book  or manage your Coronavirus vaccination appointments <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/">here</a></h5>
                        <img src="{% static '/caller/covid_bookjabs_news.jpg' %}" alt="book coronavirus jabs" style="width: 400px;height: 240px;"/>
                        
                      </div>
                      <div class="card">
                        <h2>VISIT THE NHS WEBSITE</h2>
                        <h5>Find information and advice on health conditions, symptoms, healthy living, medicines and how to get help.</h5>
                        <img src="{% static '/caller/nhs_website_logo.jpg' %}" alt="nhs website logo" style="width: 500px;height: 100px;"/>
                        <h5><a href="https://www.nhs.uk/">Click Here</a></h5>
                      </div>

                      <div class="card">
                        <h2>HEALTH A TO Z</h2>
                        <h5>View the NHS index of conditions <a href="https://www.nhs.uk/conditions/">here</a></h5>
                        <img src="{% static '/caller/nhs_atoz.jpg' %}" alt="nhs a to z health conditions" style="width: 500px;height: 250px;"/>
                        
                      </div>
                      <div class="card">
                        <h2>NHS SERVICES</h2>
                        <h5>Find urgent and emergency care services <a href="https://www.nhs.uk/nhs-services/">here</a></h5>
                        <img src="{% static '/caller/nhs_services.jpg' %}" alt="nhs services" style="width: 500px;height: 500px;"/>
                        
                      </div>


                    </div>
                    
    
                
    
    
    
            </header>
    
            <footer>
                
    
    
            </footer>	
                
            
    
    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        </body>
    
    
    </html>