{% load static %}
<doctype html>

	
<html>
	<head>
		<title>Homepage</title>
		
		<link href="{% static '/caller/main.css' %}" rel="stylesheet" type="text/css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	</head>
	

	<body>


		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col-12">
					<div class="headingtext">
						BEFORE CONTINUING PLEASE CALL <i style="color: rgb(255, 0, 51);">999</i> IF YOU ARE EXPERIENCING ANY OF THE FOLLOWING SYMPTOMS
						<br>
					</div>

					<h2 style="padding-top: 50px;">
						Signs of a heart attack
					</h2>
					<p>
						Pain like a very tight band, heavy weight or squeezing in the centre of your chest or any pain that moves into your jaw or neck						
					</p>
					<h2>
						Signs of a stroke
					</h2>
					<p>
						Face drooping on one side, can't hold both arms up, difficulty speaking, or weakness or numbness on one side of your body
					</p>
					<h2>
						Severe difficulty breathing
					</h2>
					<p>
						Gasping, not being able to get words out, choking or lips turning blue
					</p>
					<h2>
						Heavy bleeding that won't stop
					</h2>
					<p>
						Uncontrollable bleeding from any part of your body
					</p>
					<h2>
						Severe injuries
					</h2>
					<p style="padding-bottom: 50px;">
						Including deep cuts after a serious accident
					</p>
	
				</div>
				<div class="col"></div>
			</div>				
		</div>

		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col-12">
					<div class="headingtext">
						Data & Privacy Notice
						<br>
					</div>

					<p>
						This system, as-is, should only be holding dummy data and no sensitive or personally idenfiable information.
					</p>
					<p>
						The software is an early proof of concept for development purposes and should not be used as-is in a live environment without further redevelopment and/or testing. No warranty is given and no real data or personally identifiable data should be store. Usage and its liabilities are your own.
					</p>
					<p>
						This project is licenced under the AGPLv3 Licence
					</p>
					<p>
						System developed by Joshua Mukherjee, Tansheng Geng and Shaheer Ahmed
					</p>
					<p>
						Clients: Dr Atia Rafiq from NHS, Dr Dean Mohamedally from UCL, Dr Elizabeth Krymalowski from RCGP, Prof John McNamara from IBM, Dr Stephanie Coughlin from NHS
					</p>
					<p>
						Supervisors and teaching assistants: Dr Dean Mohamedally, Dr Yun Fu, Dr Graham Roberts, Daniele Giunchi
					</p>
					<p>
						University College London
					</p>
				</div>
				<div class="col"></div>
			</div>				
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col">
				<div class="col-12">
					<form action="/processInfo/" class="button"> 
						<input type="submit" value="I have none of these Symptoms and I accept these terms" class="button" />
					</form>
				</div>
			</div>
		</div>
		
		</header>
		<footer>
			


		</footer>	
			
		


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	
	</body>


</html>