{% load static %}
<doctype html>

	
<html>
	<head>
		<title>Homepage</title>
		<link href="{% static '/caller/main.css' %}" rel="stylesheet" type="text/css" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	</head>
	

	<body>


		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col-12">
					<div class="introtext">
						BEFORE CONTINUING PLEASE CALL 999 IF YOU ARE EXPERIENCING ANY OF THE FOLLOWING SYMPTOMS
					</div>

					<div class="introtext">
						Signs of a heart attack - pain like a very tight band, heavy weight or squeezing in the centre of your chest or any pain that moves into your jaw or neck						
					</div>

					<div class="introtext">
						Signs of a stroke - face drooping on one side, can't hold both arms up, difficulty speaking, or weakness or numbness on one side of your body
					</div>

					<div class="introtext">
						Severe difficulty breathing - gasping, not being able to get words out, choking or lips turning blue
					</div>

					<div class="introtext">
						Heavy bleeding that won't stop - uncontrollable bleeding from any part of your body
					</div>

					<div class="introtext">
						Severe injuries - including deep cuts after a serious accident
					</div>

						
				</div>
				<div class="col"></div>
			</div>				
		</div>
			

		</header>

		<footer>
			


		</footer>	
			
		


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	
	</body>


</html>