body{
	background: #FFFFFF;
}

.dark1{
	background:#999;
	color:white;
	display: inline;
}

.dark2{
	background:#666;
	color:white;
}

.dark3{
	background:#333;
	color:white;
}

.headingtext {
	background-color: #005eb8;
	color: #FFFFFF;
    
	padding: 15px;
	text-align: center;
	font-size: 50px;
	font: Arial;
	font-weight: bold;

}

.button {
	background-color: #005eb8;
	border: none;
	color: white;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 12px;
  
}

.introtext {
	display: inline;
	font-size: 50px;
	font-weight: 5px;
}

img{
	vertical-align: middle;

}

.center {
  display: block;
  margin:auto;
  width: 50%;
}