body{
	background: #FFFFFF;
}

.dark1{
	background:#999;
	color:white;
	display: inline;
}

.dark2{
	background:#666;
	color:white;
}

.dark3{
	background:#333;
	color:white;
}

.headingtext {
	background-color: #005eb8;
	color: #FFFFFF;
    
	padding: 15px;
	text-align: center;
	font-size: 50px;
	font: Arial;
	font-weight: bold;

}

.headingtextALT {
	color: #005eb8;
	background-color: #FFFFFF;
    
	padding: 15px;
	text-align: center;
	font-size: 50px;
	font: Arial;
	font-weight: bold;

}

.button {
	background-color: #005eb8;
	border: none;
	color: white;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 12px;
  
}

.introtext {
	display: inline;
	font-size: 50px;
	font-weight: 5px;
}

img{
	vertical-align: middle;

}

.center {
  display: block;
  margin:auto;
  width: 50%;
}

body {
	font-family: Arial;
	padding: 20px;
	background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  

  
  /* Add a card effect for articles */
  .card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
  }
